<div class='form-container'>

  <p class="form-title">Sign Up</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-input text' %>
      <p class="form-label">Name</p>
    </div>

    <div class="form-field">
      <%= f.email_field :email, autocomplete: "email", class: 'form-input text' %>
      <p class='form-label'>Email</p>
    </div>

    <div class="form-field">
      <%= f.collection_select(:location_id, Location.all, :id, :name, {prompt: ''}, {class: "form-input select", id: 'base'}) %>
      <p class="form-label">Base</p>
    </div>
    
    <div class="form-field">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-input text' %>
      <p class="form-label">Password</p>
    </div>

    <div class="form-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input text' %>
      <p class="form-label">Password Confirmation</p>
    </div>

    <div class="form-field">
      <%= f.submit "Sign up", class: "button form-button success" %>
    </div>

  <% end %>

</div>