<% aus = rand(@australia.count) %>
<% islands = rand(@islands.count) %>
<% awafr = rand(@anglophone.count) %>
<% seasia = rand(@se_asia.count) %>
<% sasia = rand(@south_asia.count) %>
<% fwafr = rand(@francophone.count) %>
<% other = rand(@other.count) %>
<% eafr = rand(@east_africa.count) %>
<% cafr = rand(@central_africa.count) %>
<% lam = rand(@latin_america.count) %>
<% safr = rand(@southern_africa.count) %>
<% overall = (aus + islands + awafr + seasia + sasia + fwafr + other + eafr + cafr + lam + safr) %>

<article class="progress">

    <h2 class='progress-header'>Remaining Languages</h2>

    <div class='overall-circle'>

        <div class='circle-container overall'>
            <div id="overall" data-current="<%= @overall[:max] - @overall[:current] %>" data-max="<%= @overall[:max] %>">

                <div class='lang-count'>
                    <p class='current'><%= @overall[:max] - @overall[:current] %></p>
                </div>

            </div>
            <p class='circle-label'>Overall</p>
        </div>

    </div>

    <div class='region-circles'>

        <div class='circle-container'>
            <div class='circle' id="australia" data-current="<%= @australia[:max] - @australia[:current] %>" data-max="<%= @australia[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @australia[:max] - @australia[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Australia &<br>Melanesia</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="islands" data-current="<%= @islands[:max] - @islands[:current] %>" data-max="<%= @islands[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @islands[:max] - @islands[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Islands of Asia</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="se-asia" data-current="<%= @se_asia[:max] - @se_asia[:current] %>" data-max="<%= @se_asia[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @se_asia[:max] - @se_asia[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Southeast Asia</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="south-asia" data-current="<%= @south_asia[:max] - @south_asia[:current] %>" data-max="<%= @south_asia[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @south_asia[:max] - @south_asia[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>South Asia</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="east-africa" data-current="<%= @east_africa[:max] - @east_africa[:current] %>" data-max="<%= @east_africa[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @east_africa[:max] - @east_africa[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>East Africa</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="southern-africa" data-current="<%= @southern_africa[:max] - @southern_africa[:current] %>" data-max="<%= @southern_africa[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @southern_africa[:max] - @southern_africa[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Southern Africa</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="central-africa" data-current="<%= @central_africa[:max] - @central_africa[:current] %>" data-max="<%= @central_africa[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @central_africa[:max] - @central_africa[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Central Africa</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="francophone" data-current="<%= @francophone[:max] - @francophone[:current] %>" data-max="<%= @francophone[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @francophone[:max] - @francophone[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Francophone<br>West Africa</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="anglophone" data-current="<%= @anglophone[:max] - @anglophone[:current] %>" data-max="<%= @anglophone[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @anglophone[:max] - @anglophone[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Anglophone<br>West Africa</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="latin-america" data-current="<%= @latin_america[:max] - @latin_america[:current] %>" data-max="<%= @latin_america[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @latin_america[:max] - @latin_america[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Latin America</p>
        </div>

        <div class='circle-container'>
            <div class='circle' id="other" data-current="<%= @other[:max] - @other[:current] %>" data-max="<%= @other[:max] %>">
                <div class='lang-count'>
                    <p class='current'><%= @other[:max] - @other[:current] %></p>
                </div>
            </div>  
            <p class='circle-label'>Other</p>
        </div>

    </div>
</article>