<% overall = rand(100) %>
<% aus = rand(100) %>
<% islands = rand(100) %>
<% awafr = rand(100) %>
<% seasia = rand(100) %>
<% sasia = rand(100) %>
<% fwafr = rand(100) %>
<% other = rand(100) %>
<% eafr = rand(100) %>
<% cafr = rand(100) %>
<% lam = rand(100) %>
<% safr = rand(100) %>
<article class="progress">

    <section class="progress-bar overall">

        <p class="progress-label">Overall</p>

        <div class="bar-container">

            <div class="bar" style="width: <%= overall %>%">
                
                <p class="current"><%= ((overall/100.0) * 1000).round() %></p>

            </div>

        </div>

        <p class="total">1000</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Australia & Melanesia</p>

        <div class="bar-container" style="width: 45%">

            <div class="bar" style="width: <%= aus %>%; background-color: #FA9CDB">

            <p class="current"><%= ((aus/100.0) * 220).round() %></p>

            </div>

        </div>

        <p class="total">220</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Islands of Asia</p>

        <div class="bar-container" style="width: 40%">

            <div class="bar" style="width: <%= islands %>%;  background-color: #BAEF99">

            <p class="current"><%= ((islands/100.0) * 150).round() %></p>

            </div>

        </div>

        <p class="total">150</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Anglophone West Africa</p>

        <div class="bar-container" style="width: 40%">

            <div class="bar" style="width: <%= awafr %>%;  background-color: #8B91FF">

            <p class="current"><%= ((awafr/100.0) * 150).round() %></p>

            </div>

        </div>

        <p class="total">150</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Southeast Asia</p>

        <div class="bar-container" style="width: 35%">

            <div class="bar" style="width: <%= seasia %>%;  background-color: #FFD85F">

            <p class="current"><%= ((seasia/100.0) * 100).round() %></p>

            </div>

        </div>

        <p class="total">100</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">South Asia</p>

        <div class="bar-container" style="width: 35%">

            <div class="bar" style="width: <%= sasia %>%;  background-color: #45A6FF">
            
                <p class="current"><%= ((sasia/100.0) * 100).round() %></p>

            </div>

        </div>

        <p class="total">100</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Francophone West Africa</p>

        <div class="bar-container" style="width: 30%">

            <div class="bar" style="width: <%= fwafr %>%;  background-color: #B3FF00">

                <p class="current"><%= ((fwafr/100.0) * 75).round() %></p>

            </div>

        </div>

        <p class="total">75</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Other</p>

        <div class="bar-container" style="width: 30%">

            <div class="bar" style="width: <%= other %>%;  background-color: #FFAD78">

                <p class="current"><%= ((other/100.0) * 75).round() %></p>

            </div>

        </div>

        <p class="total">75</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">East Africa</p>

        <div class="bar-container" style="width: 25%">

            <div class="bar" style="width: <%= eafr %>%;  background-color: #39FFF8">

                <p class="current"><%= ((eafr/100.0) * 40).round() %></p>

            </div>

        </div>

        <p class="total">40</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Central Africa</p>

        <div class="bar-container" style="width: 25%">

            <div class="bar" style="width: <%= cafr %>%;  background-color: #F9F965">

                <p class="current"><%= ((cafr/100.0) * 40).round() %></p>

            </div>

        </div>

        <p class="total">40</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Latin America</p>

        <div class="bar-container" style="width: 20%">

            <div class="bar" style="width: <%= lam %>%;  background-color: #FFC852">

                <p class="current"><%= ((lam/100.0) * 30).round() %></p>

            </div>

        </div>

        <p class="total">30</p>

    </section>

    <section class="progress-bar">

        <p class="progress-label">Southern Africa</p>

        <div class="bar-container" style="width: 15%">

            <div class="bar" style="width: <%= safr %>%;  background-color: #FF7E79">

                <p class="current"><%= ((safr/100.0) * 20).round() %></p>

            </div>

        </div>

        <p class="total">20</p>

    </section>

</article>