<div class='form-container'>
    <p class='form-title'>Adopt a Language</p>

    <%= form_for [@user, @adoptee] do |f| %>

            <div class="form-category">

                <%= f.hidden_field :user_id, value: @user.id %>

                <div class="form-field">
                    <%= select(:adopted_language, :country, @countries, {prompt: ''}, {class: "form-input select", id: 'country'}) %>
                    <p class="form-label">Country</p>
                </div>

                <div class="form-field">
                    <%= select(:adopted_language, :language_code, [], {prompt: ''}, {class: "form-input select", id: 'language'}) %>
                    <p class="form-label">Language</p>
                </div>

            </div>

            <div class="form-field">
                <%= f.submit "Submit", class: "button form-button success" %>
            </div>

    <% end %>

</div>