<ul class='nav'>

    <li class="<%= (controller_name == 'pages' && action_name =='index') ? 'active' : '' %>"><%= link_to "Home", root_url %></li>

    <% if user_signed_in? %>

        <li class="<%= (controller_name == 'adopted_languages' && action_name =='index') ? 'active' : '' %>"><%= link_to "My Languages", user_adopted_languages_path(current_user) %></li>
        <li class="<%= (controller_name == 'registrations' && action_name =='edit') ? 'active' : '' %>"><%= link_to "Update Profile", edit_user_registration_path(current_user) %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

    <% else %>

        <li class="<%= (controller_name == 'sessions' && action_name =='new') ? 'active' : '' %>"><%= link_to "Log In", new_user_session_path %></li>
        <li class="<%= (controller_name == 'registrations' && action_name =='new') ? 'active' : '' %>"><%= link_to "Sign Up", new_user_registration_path %></li>

    <% end %>

</ul>