<!DOCTYPE html>
<html>
  <head>
    <title>Progress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wml4hzb.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js" integrity="sha512-6kvhZ/39gRVLmoM/6JxbbJVTYzL/gnbDVsHACLx/31IREU4l3sI7yeO0d4gw8xU5Mpmm/17LMaDHOCf+TvuC2Q==" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container <%= controller_name %>-<%= action_name %>">

      <% if action_name != 'display' %>
        <%= render 'layouts/header' %>
      <% end %>

      <% flash.each do |type, msg| %>
          <div class='<%= type %>'>
            <%= msg %>
          </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
